body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-color: #2c2b3d;
  color: #fff;

  font-family: "JetBrains Mono", monospace;
}

.page {
  width: 1096px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

ul {
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

section h1 {
  font-size: 36px;
  margin-bottom: 59px;
}
section span {
  color: #00bfa6;
}

section p {
  line-height: 28px;
  font-size: 16px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.line {
  width: 568px;
  border-top: 1px solid #00bfa6;
}

#decoration {
  position: fixed;
  bottom: 0;
  left: 0;
}
